@model IEnumerable<SeniorProject.Models.Event>
@Html.AntiForgeryToken()

<h2>Event List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Description</th>
            <th>Registered Users</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>@eventItem.EventName</td>
                <td>@eventItem.EventStart</td>
                <td>@eventItem.EventEnd</td>
                <td>@eventItem.EventDescription</td>
                <td>@eventItem.Registered</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Event", new { id = eventItem.EventId }, null)
                    <form class="delete-event-form" method="post" onsubmit="return confirm('Are you sure?')">
                        <input type="hidden" name="eventId" value="@eventItem.EventId" />
                        @Html.AntiForgeryToken()
                        <button type="submit" class="delete-event">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-event-form').on('submit', function (e) {
                e.preventDefault();

                var eventId = $(this).find('input[name=eventId]').val();
                var deleteUrl = '@Url.Action("Delete", "Event")' + '?id=' + eventId;
                var rowToDelete = $(this).closest('tr');
                var antiForgeryToken = $(this).find('input[name=__RequestVerificationToken]').val();

                $.ajax({
                    type: 'POST',
                    url: deleteUrl,
                    headers: {
                        'RequestVerificationToken': antiForgeryToken
                    },
                    success: function () {
                        rowToDelete.remove();
                    },
                    error: function () {
                        alert('Error deleting event. Please try again.');
                    }
                });
            });
        });
    </script>
}